aws_region  = "ap-southeast-3"
project_name = "pirescer-parkir-pintar"
environment  = "production"
domain_name  = "parkir-pintar.piresc.dev"
db_username  = "parkir_admin"
db_password  = "CHANGE-ME-USE-STRONG-PASSWORD"
redis_auth_token = "CHANGE-ME-USE-STRONG-TOKEN"
jwt_secret       = "CHANGE-ME-USE-STRONG-SECRET"
ghcr_username = "YOUR-GITHUB-USERNAME"
ghcr_token    = "YOUR-GHCR-PAT-TOKEN"
github_repo   = "YOUR-ORG/YOUR-REPO"
